<ng-container *ngIf="picture$ | async as picture; else loading">
  <img class="picture" [src]="'data:image/jpeg;base64,' + picture.base64" [alt]="picture.alt" />
</ng-container>
<ng-template #loading>
  <loader class="loader"></loader>
</ng-template>
