<div class="content">
  <div class="content--left">
    <section picture></section>
    <section about></section>
    <section skills></section>
    <section personalia></section>
  </div>

  <div class="content--right">
    
  </div>
</div>