.loader {
  display: flex;
  justify-content: space-around;
}

.personalia-items {
  list-style-type: none;
  padding-left: 0;
}

.personalia-item {
  padding: 5px;

  * {
    color: inherit;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 4px;
  }
  .personalia-item__icon {
    width: 16px;
  }
}
