body {
    margin: 0;
}

body {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

h1 {
    /* TODO use some fancy lettering */
    text-align: center;
}

.content {
    display: flex;
}

.content--left {
    min-height: 800px;
    width: 220px;
    min-width: 220px;
    /* there should be no overflow */

    padding: 10px;
    
    background-color: dimgray;
    color: white;
}

.content--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content--left .picture img {
    width: 200px;
    height: 200px;
    /* margin: 10px; */
    border-radius: 50%;
    border: 10px solid lightgray;
}

.content--left ul {
    list-style-type: none;
    padding-left: 0;
}

.content--left li * {
    display: flex;
    align-items: center;
}

.content--left li a {
    color: inherit;
    text-decoration: none;
}

.content--left li svg {
    padding: 5px;
}

.cloud {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.cloud li {
    display: block;
    padding: 0.1em 0.2em;
    position: relative;
}

.cloud li[data-weight="1"] { --size: 1; }
.cloud li[data-weight="2"] { --size: 2; }
.cloud li[data-weight="3"] { --size: 3; }
.cloud li[data-weight="4"] { --size: 4; }
.cloud li[data-weight="5"] { --size: 5; }

.cloud li {
    --size: 3;
    font-size: calc(var(--size) * 0.2rem + 0.3rem);
    opacity: calc((15 - (9 - var(--size))) / 15);
}

.content--right {
    min-height: 800px;
    max-height: 100vh;
    max-width: 660px;
    min-width: 440px;
    overflow: auto;

    padding: 10px;

    background-color: lightgray;
}

.timeline {
    margin-left: 40px;
}

.timeline ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

/* .timeline li:before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
} */

.company {
    position: relative;
    left: -31px;
}

.job {
    position: relative;
}

.job:before {
    content: "";
    position: relative;
    display: block;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: darkgray;
    top: 5px;
    left: -26px;
    margin-bottom: -8px;
}

.job:after {
    content: "";
    position: absolute;
    left: -23px;
    top: 21px;
    height: calc(100% - 24px);
    width: 2px;
    background-color: darkgray;
}

.job .from {
    font-style: italic;
}

.job .title {
    font-weight: bold;
}

.collapsible {
    cursor: pointer;
}

.collapsible.active:before {
    content: "+";
    margin-right: 8px;
}

.collapsible:not(.active):before {
    content: "-";
    margin-left: 1.6px;
    margin-right: 10.0px;
}

.collapsible-content {
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.collapsible-content.collapsed {
    max-height: 0;
}
